<!DOCTYPE html>
<html>
<head>
  <title>Rails4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui poiting menu">
  <%= link_to 'Listing People', people_path, class: "item" %>
  <%= link_to 'New Person', new_person_path, class: "item" %>
</div>

<div class="ui segment"><p id="notice"><%= semantic_flash %></p></div>

<%= yield %>

</body>
</html>
